
@font-face{
        font-family:LemonMilk;
        src : url("lemonmilk-webfont.woff")

}
body{
        background:url("orgback.png");
        background-color:#eeeeee;



}

#Intro{

        color:grey;
        text-align:right;
        font-family:LemonMilk;
        text-align:center;
        position:absolute;
        top:100px;



}
#Steve{
        border:1px solid #082d2b;
        align:center;
        width:250px;
        height:250px;
        border-radius:50%;
        position:fixed;
        margin-top:100px;
        margin-left:50%;
        cursor:pointer;
        transform: translateX(-50%);
}

.title{
        width:100%;
        height:40px;
        background-color:white;
        padding:0px;



}
.menu{
            font-family:LemonMilk;
            font-color:green;
            position:relative;
            top:9px;
            left:15px;
            cursor:pointer;
            padding:0;

}
.login{
            font-family:LemonMilk;
            font-color:green;
            position:relative;
            top:-30.5px;
            left:95px;
            cursor:pointer;
        }
